.mdn-accordion {
	width:90%;
	max-width:740px;
	margin:4em auto;
	font-family:Merriweather,Arial,Helvetica,sans-serif;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,.2);
	box-shadow:0 1px 4px rgba(0,0,0,.2);
	font-weight:400;
	background:#fff
}
.mdn-accordion ul {
	display:none
}
.mdn-accordion .accordion-toggle {
	position:absolute;
	opacity:0
}
.mdn-accordion .accordion-title {
	color:#788B94;
	display:block;
	background:#fff;
	position:relative;
	-webkit-box-shadow:inset 0 -1px #EDF1F2;
	-moz-box-shadow:inset 0 -1px #EDF1F2;
	box-shadow:inset 0 -1px #EDF1F2;
	text-decoration:none;
	font-size:16px;
	padding:18px;
	cursor:pointer;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.mdn-accordion .accordion-title {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.mdn-accordion .mdn-accordion-ripple {
	position:absolute;
	border-radius:50%;
	pointer-events:none;
	background-color:rgba(255,255,255,.5);
	-webkit-transform:translate3d(-50%,-50%,0);
	-moz-transform:translate3d(-50%,-50%,0);
	-ms-transform:translate3d(-50%,-50%,0);
	-o-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	opacity:.6;
	padding:0;
	margin:0
}
.blue-accordion-theme .accordion-title {
	color:#fff;
	background:rgba(55,203,88,0.6);
	-webkit-box-shadow:inset 0 -1px rgba(55,203,88,0.6);
	-moz-box-shadow:inset 0 -1px rgba(55,203,88,0.6);
	box-shadow:inset 0 -1px rgba(55,203,88,0.6);
}
.blue-accordion-theme ul .accordion-title{
	-webkit-box-shadow:inset 0 -1px #52ACF5;
	-moz-box-shadow:inset 0 -1px #52ACF5;
	box-shadow:inset 0 -1px #52ACF5;
	font-weight:300
}
.blue-accordion-theme .accordion-toggle:checked+.accordion-title {
	background:#1775CA
}
.blue-accordion-theme ul .accordion-toggle:checked+.accordion-title {
	background:#1E88E5
}
.blue-accordion-theme ul ul .accordion-toggle:checked+.accordion-title {
	background:#2E8EE7
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-file-text:before {
    content: "\f15c";
}
.mdn-accordion .accordion-title::before {
    width: 26px;
    height: 26px;
    font-size: 1.4em;
    content: "\f105";
    position: absolute;
    display: inline-block;
    font-family: FontAwesome;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
    right: 10px;
    top: 49%;
}
.mdn-accordion .accordion-toggle:checked+.accordion-title::before {
    top: 45%;
    right: 22px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}