<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="前端学习总结~"/>
    <meta name="keywords" content="前端学习总结~"/>
    <meta name="author" content="whyfind, 927230462@qq.com"/>
    <title>我的世界</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/animate.css">
    <style type="text/css">
        html,body{
            height: 100%;
            overflow: hidden;
        }
        #container,.section{
            height: 100%;
            position: relative;
        }
        #section0,
        #section1,
        #section2,
        #section3{
            background-size: cover;
            background-position: 50% 50%;
        }
        #section0{
            background-color: #d6a;
            color: #fff;
            text-shadow:1px 1px 1px #333;
        }
        #section1{
            background-color: rgb(247,248,250);
        }
        #section2{
            background-color: rgb(249,100,78);
            color: #fff;
            text-shadow:1px 1px 1px #666;
        }
        #section3{
            color: #008283;
            background-color: #789aea;
            text-shadow:1px 1px 1px #fff;
        }
        .left{
            float: left;
        }
        #pages{
            position:fixed;
            right: 10px;
            top: 50%;
            list-style: none;
        }
        #pages li{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fff;
            margin: 0 0 10px 5px;
        }
        #pages li.active{
            width: 14px;
            height: 14px;
            border: 2px solid #FFFE00;
            background: none;
            margin-left: 0;
        }

    </style>
</head>
<body class="another">
<!--顶部-->
<%- include('header') %>

    <div id="container" class="about">
        <div class="section active" id="section0">
            <div class="skillcon">
                <h1 class="chskill">我的技能</h1>
                <h1 class="engskill">My Skill</h1>
                <div class="des">
                    <p>①html熟悉</p>
                    <p>②熟悉使用的CSS框架：BootStrap</p>
                    <p>③熟悉使用的JS框架：jQuery、RequireJs、AngularJs</p>  
                    <p>④NodeJs、PHP列为学习计划中</p>    
                </div>
                <ul class="skill_list">
                    <li>
                        <canvas class="process" width="140px" height="140px">html</canvas>
                    </li>
                    <li>
                        <canvas class="process" width="140px" height="140px">css</canvas>
                    </li>
                    <li>
                        <canvas class="process" width="140px" height="140px">js</canvas>
                    </li>
                </ul>  
            </div>
        </div>
        <div class="section" id="section1">
            <div class="experience wid1200">
                <div class="left_ex">
                    <h1 class="chex">我的经历</h1>
                    <h1 class="engex">My Experience</h1>
                    <div class="exdes">
                        <p>
                        作为一名前端，其中的最基础的三项html，css，js,第一步则是需要将这三项学的扎实些的。。基础的这三项才是铸就前端之路走的更远的必要因素。
                        </p>
                        <p>
                        然后在这基础上学习各种优秀的开源框架，进则可观其源码如何实现的。我相信每个优秀开源项目的源码写的都是很精妙的。所以下一步的路在哪。
                        </p>
                        <p  style="color:rgb(249,100,78); ">
                        要想前端之路走的更远不可眼高手低。需一步一个脚印。
                        </p>
                        <p>......</p>
                    </div>
                </div>
                <div class="right_ex">
                    <div class="time_line">
                        <div class="round">
                            <span class='up'>至今</span>
                            <span class="down">2015.03</span>
                            <div class="job">
                                <div class="img aiyike"></div>
                                <div class="content">
                                    <h1>爱衣客--Web前端工程师</h1>
                                    <p>负责爱衣客的整个前端开发工作。有时候会稍微写些C#后台的接口。会简单的使用PS和AI切图。</p>
                                </div>
                            </div>
                        </div>
                        <div class="round">
                            <span class="down">2014.06</span>
                            <div class="job">
                                <div class="img aisike"></div>
                                <div class="content">
                                    <h1>艾斯科--后台C#开发</h1>
                                    <p>编写生产管控系统部分内容。涉及winfrom界面。数据库方面（包括表结构的设计，使用存储过程和触发器，增删改查）。</p>
                                </div>
                            </div>
                        </div>
                         <div class="round">
                            <span class="down">2010.09</span>
                            <div class="job">
                                <div class="img school"></div>
                                <div class="content">
                                    <h1>皖西学院--电子信息工程</h1>
                                    <p>负责在学校认真的打了四年的酱油。四年的过去，得出的结论是时间过的很快，君需珍惜现在，展望未来。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section2">
            <div class="waitcon">联系我...暂时就不写联系方式了。</div>
        </div>
<!--         <div class="section" id="section3">
            <div class="waitcon">等待编辑...</div>
        </div> -->
    </div>


    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/pageswitch.js"></script>
    <script type="text/javascript" src="js/drawprocess.js"></script>
    <script type="text/javascript">

        $(function(){
            //
            $("#container").switchPage();

            //
            $(".head_list .act").removeClass("act");
            $(".head_list .about").addClass("act");

            //
            $(".header .ngbg").css("width","100%");
        });
    </script>
</html>