<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="前端学习总结~"/>
    <meta name="keywords" content="前端学习总结~"/>
    <meta name="author" content="whyfind, 927230462@qq.com"/>
    <title>whyfind</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/animate.css">
    <script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
</head>
<body class="overflow">
<canvas class="loadcanvar"></canvas>
<script type="text/javascript">
    (function(){
        var canvar = document.getElementsByClassName("loadcanvar")[0];
        var cxt = canvar.getContext('2d'); 
        
        var height = $(window).height();
        var width = $(window).width();
        canvar.width = width;
        canvar.height = height;

        var image = new Image();
        image.src="http://cewbe.img47.wal8.com/img47/542182_20160405163502/145984565691.jpg";
        image.width = width;
        image.height = height;

        var r = 50 ;
        window.requestAnimationFrame =  window.requestAnimationFrame 
                                    || window.mozRequestAnimationFrame 
                                    || window.webkitRequestAnimationFrame 
                                    || window.msRequestAnimationFrame;

        function initDraw(){
            cxt.clearRect(0,0,width,height);
            cxt.save();

            cxt.beginPath();
            cxt.arc(width/2,height/2,r,0*Math.PI,2*Math.PI,false);
            cxt.clip();

            cxt.drawImage(image,0,0);
            cxt.restore();
        }
        var tag = true;
        function drawProcess(){
            initDraw(); 
            r = r >= 0 ? (r> 5 ? r -5 : 0) : r +5;
            console.log(r);
            tag && requestAnimationFrame(drawProcess);
        }
        function drawZoom(){
            initDraw();

            r = r + 20;
            if(r < width/2 ){
                 requestAnimationFrame(drawZoom);
            }else{
                $(document.body).removeClass('overflow');
                $(".loadcanvar").remove();
            }
        }
        if (image.complete) {
           drawProcess();
        } else {
            image.onload = function () {
                drawProcess();
            }
        };
        
        $(window).load(function () {
        tag = false;
           requestAnimationFrame(drawZoom);
        });
    })();
</script>
<!-- <div class="load" >
    <div class="loading">
        <div class="loading-circle"></div>
        <div class="info">正在加载中...</div>
    </div>
</div> -->

<!--顶部-->
<%- include('header') %>

<div class="container indexbg">
    <p style="display:inline-block;vertical-align:middle;height: 100%;width: 0;"></p>
    <p class="web" style="display:inline-block;vertical-align:middle">
        A Web Developer
    </p>
</div>
<div class="webcon">
    <div class="wid1200">
        <div class="leftcoob">
            <div class="deep">Web</div>
            <div class="shallow">前端</div>
        </div>
        <div class="description">
            <h1 class="chinese">用最简洁且维护性好的代码编写最好的页面</h1>
            <h1 class="eng">With the most simple and maintain good coding best page.</h1>
            <p>作为一名前端工程师，必须掌握基本的Web前端开发技术，在掌握这些技术的同时，还要清楚地了解它们在不同浏览器上的兼容情况、渲染原理和存在的Bug。还有，网站性能优化、SEO和服务器端的基础知识也是必须掌握的。除了要掌握技术层面的知识，还要掌握理论层面的知识，包括代码的可维护性、组件的易用性、分层语义模板和浏览器分级支持，等等。</p>
            <div class="line"></div>
        </div>
    </div>
</div>

<!--底部-->
<%- include('footer') %>

</body>

<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./js/ripple.js"></script>
<script type="text/javascript" src="./js/prefixfree.min.js"></script>


<script type="text/javascript">
  
// function addEvent(obj,xEvent,fn) {
//     if(obj.attachEvent){
//       obj.attachEvent('on'+xEvent,fn);
//     }else{
//       obj.addEventListener(xEvent,fn,false);
//     }
// }
// function getScrollTop() {  
//         var scrollPos;  
//         if (window.pageYOffset) {  
//         scrollPos = window.pageYOffset; }  
//         else if (document.compatMode && document.compatMode != 'BackCompat')  
//         { scrollPos = document.documentElement.scrollTop; }  
//         else if (document.body) { scrollPos = document.body.scrollTop; }   
//         return scrollPos;   
// }
// //js写法
// window.onload = function(){
//     $(".load .loading").animate({
//             marginTop:'-300px'
//         },600,function(){
//             $(document.body).removeClass('overflow');
//             $(".load").remove();
//         });

//     addEvent(document.body,"mousewheel",function(){
//         clearInterval(timer);
//         var timer = setTimeout(function(){
//             var top = getScrollTop();//这个方法是当前滚动条滚动的距离
//             if(top>100){
//                 $(".ngbg").css({width:'100%'});
//             }else{
//                  $(".ngbg").css({width:'0'});
//             }
//         },100);
//     });
// }

//jQuery写法
$(function(){
    //页面加载完成
    $(window).load(function () {
        // $(".load .loading").animate({marginTop:'-200px'},600,function(){
        //     $(document.body).removeClass('overflow');
        //     $(".load").remove();
        // });
    });
    //滚轴事件
    $(window).scroll(function(){
        clearInterval(timer);
        var timer = setTimeout(function(){
            var top = $(window).scrollTop();//这个方法是当前滚动条滚动的距离
            if(top>100){
                $(".ngbg").css({width:'100%'});
            }else{
                 $(".ngbg").css({width:'0'});
            }
        },100);
    });

    //点击web前端的时候
    $(".webcon .leftcoob").bind("click",function(){
        $(".webcon .description").addClass("animated zoomIn")
        .on("webkitAnimationEnd mozAnimationEnd msAnimationEnd animationEnd",function(){
            $(".webcon .description").removeClass("animated zoomIn")
        });
    });
});


</script>

</html>