<!DOCTYPE html>
<html> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="前端学习总结~"/>
    <meta name="keywords" content="前端学习总结~"/>
    <meta name="author" content="whyfind, 927230462@qq.com"/>
    <title>收藏学习</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head> 
<body> 

<!--顶部-->
<div class="header">
    <div class="wid1200 ">
        <div class="header_con">
            <div class="logo"></div>
            <ul class="head_list">
                <li class="all whyfind"><a href="../index.html"><h1><span>whyfind</span></h1></a></li>
                <li class="all index act"><a href="../index.html"><span>首页</span></a></li>
                <li class="all demo"><a href="./views/showdemo.html"><span>作品展示</span></a></li>
                <li class="all about"><a href="./views/aboutme.html"><span>关于我</span></a></li>
                <li class="all classic"><a href="./views/classicdemo.html"><span>收藏连接</span></a></li>
            </ul>
        </div>
    </div>
    <div class="ngbg"></div>
</div>


<div class="head_bg"></div>
<div class="getfrom">
    <ol class="wid1200">
        <li><a href="http://www.zhangxinxu.com/study/200911/image-center-new-method-test.html">图片垂直居中</a></li>
         <li><a href="https://github.com/fouber/blog/issues/10">前端工程化基础篇</a></li>
         <li><a href="http://www.webhek.com/misc/css-loaders">由css绘制的loading效果</a></li>
         <li><a href="http://www.cnblogs.com/lhb25/archive/2012/03/05/few-new-collections-css3-effects.html">20个非常绚丽的CSS3特效</a></li>
         <li><a href="http://apps.eky.hk/css-triangle-generator/zh-hant">CSS三角形產生器</a></li>
         <li><a href="http://m.sui.taobao.org/docs-demos/structure/"> SUI Mobile Demo</a></li>
         <li><a href="http://www.webhek.com/misc/css-loaders"> 纯css3绘制的loading效果</a></li>
         <li><a href="https://github.com/fouber/blog/issues/10">前端工程文章</a></li>
         <li><a href="http://isux.tencent.com/css3/tools.html">CSS3动画生成工具</a></li>
         <li><a href="https://daneden.github.io/animate.css/">Animate.css</a></li>
         <li><a href="http://www.tuhaokuai.com/image">一款非常压缩图片的地址</a></li>
         <li><a href="http://www.iconfont.cn/collections?personal=1">阿里妈妈字体库，超级棒</a></li>      
    </ol>
</div>

<!--底部-->
<div class="footer">
	宣布主权等于宣布版权。whyfind
</div>

</body> 
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    $(".head_list .act").removeClass("act");
    $(".head_list .classic").addClass("act");
</script>
</html> 



